**/*.class
# Package Files #
*.jar
*.war
*.ear
target


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
**/*.iml
/dkpro-c4corpus-hadoop/dependency-reduced-pom.xml

